<div id="removeBoard" class="modal-default modal-remove-task" tabindex="-1">
  <div class="modal-default__content" style="max-width: 900px;">
    <button type="button" class="modal-default__close"></button>
    <h4 class="modal-default__title"><%= t('boards.board.delete_confirmation') %></h4>
    <button type="button" class="btn-root _agree"><%= t('commons.ok') %></button>
    <button type="button" class="btn-root _decline"><%= t('commons.cancel') %></button>
  </div>
</div>
