<div id="agreementModal" class="modal-default modal-agreement" role="dialog" tabindex="-1">
    <div class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <h2 class="modal-default__title modal-agreement__title"></h2>
        <h3 class="modal-agreement__subtitle"></h3>

        <div class="modal-agreement__buttons">
            <button type="button" class="btn-root _agree">Yes</button>
            <button type="button" class="btn-root _dark _refuse" data-modal-close>No</button>
        </div>
    </div>
</div>
