<div id="responseModal" class="modal-default modal-response" role="dialog" tabindex="-1">
    <div class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <h2 class="modal-default__title modal-response__title"></h2>
    </div>
</div>
