---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&source=tok_visa&description=charge+user
    headers:
      Authorization:
      - Bearer sk_test_qSObtpdzQVntvXBlBl9B4DGC
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1B3PvUDGgVJ6aXtnjvM5sKnr",
          "object": "charge",
          "amount": 3000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1B3PvUDGgVJ6aXtn5DGPwsN3",
          "captured": true,
          "created": 1505743724,
          "currency": "usd",
          "customer": null,
          "description": "charge user",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1B3PvUDGgVJ6aXtnjvM5sKnr/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1B3PvTDGgVJ6aXtn0bNoQvbJ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 8,
            "exp_year": 2019,
            "fingerprint": "9sIpIdQ9zRlKVkDN",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Mon, 18 Sep 2017 14:08:44 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance/history/txn_1B3PvUDGgVJ6aXtn5DGPwsN3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_qSObtpdzQVntvXBlBl9B4DGC
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "txn_1B3PvUDGgVJ6aXtn5DGPwsN3",
          "object": "balance_transaction",
          "amount": 3000,
          "available_on": 1506297600,
          "created": 1505743724,
          "currency": "usd",
          "description": "charge user",
          "fee": 117,
          "fee_details": [
            {
              "amount": 117,
              "application": null,
              "currency": "usd",
              "description": "Stripe processing fees",
              "type": "stripe_fee"
            }
          ],
          "net": 2883,
          "source": "ch_1B3PvUDGgVJ6aXtnjvM5sKnr",
          "status": "pending",
          "type": "charge"
        }
  recorded_at: Mon, 18 Sep 2017 14:08:45 GMT
recorded_with: VCR 3.0.3
