.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
*:first-child + html .clearfix {
  zoom: 1;
}

.flex {
  display: flex;
}
ul {
  padding-left: 0px;
  margin-bottom: 0px;
}