<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
</head>
<body>
<p><%= t('.greeting', receiver_name: @receiver.display_name) %></p>
<p>
  <%= t('.body_html', source: @source, amount: @amount, currency: ENV['symbol_currency']).html_safe %>
</p>
</body>
</html>
