$white: #fff;
$light_white: #fcfcfc;
$light_white_v2: #f5f5f5;
$black: #010101;
$black_v2: #363636;
$black_v3: #303030;
$red: #ff0000;
$light-red: #fdeded;


$dark_blue: #245580;
$bright_green: #a5ff55;
$green: #4aba3b;
$light-green: #84d315;
$green-dark: #90C24A;
$green_v1: #9fbb9d;
$green_v2: #289b00;
$aqua_green: #7d9191;
$aqua_green_v2: #8c9d9e;

$dark_green_blue: #415256;
$light_aqua: #009799;
$dark_aqua: #2a676c;
$dark_aqua_v2: #008774;
$dark_aqua_v3: #5f7778;
$aqua: #80d9bf;
$aqua_v2: #11a7a9;
$ultra-grey: #ebebeb;
$ultra-grey-v2: #f9f9f9;
$ultra-grey-v3: #f7f7f7;
$ultra-grey-v4: #dadada;
$ultra-grey-v5: #cdcdcd;

$salat: #2fb56e;
$salat_v2: #66b500;
$salat_v3: #65b00c;
$dark_grey: #7d7d7d;
$ultra_dark_grey: #747474;
$grey: #cccccc;
$grey_v2: #d7d7d7;
$dark-blue: #0a5e7a;

$dark_green_v_1: #4c5452;
$dark_greem_v_2: #767f7d;
$dark_green_v_3: #415256;
$dark_green_v_4: #526061;
$dark_green_v_5: #288300;

$solid_green: #1ca03c;
