<div id="modalRemoveProject" class="modal-default modal-remove-project" tabindex="-1">
  <div class="modal-default__content" style="max-width: 900px;">
    <button type="button" class="modal-default__close"></button>
    <h4 class="modal-default__title"><%= t('users.my_projects.delete_project_confirmation') %></h4>
    <a href=""  id="remove-project-path" data-method="delete" >
      <button type='button' class='btn-root _agree'><%= t('commons.ok') %></button>
    </a>
    <button type='button' class='btn-root _decline'><%= t('commons.cancel') %></button>
  </div>
</div>
