<div class="share-buttons">
  <ul>
    <li class="share-item">
      <a rel="nofollow" class="btn-share facebook" href="#" data-site="facebook" title="Share on Facebook" onclick="return SocialShareButton.share(this);">
        <i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>
    <li class="share-item">
      <a rel="nofollow" class="btn-share twitter" data-site="twitter" title="Share to Twitter" href="#" onclick="return SocialShareButton.share(this);">
        <i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li class="share-item">
      <a rel="nofollow" class="btn-share linkedin" data-site="linkedin" class="social-share-button-linkedin" onclick="return SocialShareButton.share(this);" title="Share to LinkedIn" href="#">
        <i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </li>
    <li class="share-item">
      <a rel="nofollow" class="btn-share email" data-site="email" class="social-share-button-email" onclick="return SocialShareButton.share(this);" title="Share to Email" href="#">
        <i class="fa fa-envelope" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>
