<div class="s-wallet__top-bar">
  <div class="s-wallet__info"><%= t('commons.platform_balance') %>:  <%= ENV['symbol_currency'] %><strong class="s-wallet__value"><%= balance_in_usd(platform_balance) %></strong> <%= ENV['currency'] %>
  </div>
</div>
