<div class='boards'>
  <div class="row tabs-menu" style="padding: 0">
    <ul class="nav nav-pills nav-left m-tabs nav-board">
      <%= render 'boards' %>
    </ul>
  </div>
</div>

<%= render "projects/project_tasks" %>
